.columns4 #main-grid {
    grid-template-columns: repeat(4, 1fr);
}

.columns3 #main-grid {
    grid-template-columns: repeat(3, 1fr);
}

.columns2 #main-grid {
    grid-template-columns: repeat(2, 1fr);
}

.layout-compact, .layout-mobile {
    .audio-item .audio-content {
        display: none;
    }
}

.columns2 .listen-header {
    margin-bottom: 0;
}

.columns1 .listen-header {
    margin: 20px 0;
    font-size: 20px;
}
  
